.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.status {
  width: 300px;
  height: 300px;
  background-color: green;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  margin: 15px auto 40px;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 40px;
  border: 1px solid #0c2830;
}

.error {
  color: #ff0000;
  display: inline-block;
  padding: 0 10px;
}

input {
  padding: 10px;
  border: 1px solid #0c2830;
  border-radius: 5px;
  margin: 0 10px;
}

label {
  font-size: 20px;
  margin: 0 10px;
}



button {
  padding: 10px 20px;
  background-color: #0c2830;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}



th,
td {
  border: 1px solid #000 ;
  text-align: left;
  padding: 10px;
}


tr:nth-child(even) {
  background-color: #f2f2f2;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}