 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
 }

 .container {
   height: 100vh;
   width: 100%;
 }

 nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 18px;
   padding: 12px 10px;
   background-color: rgba(69, 131, 225, 0.5);
 }

 ul {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
 }

 li {
   list-style: none;
   color: black;
 }

 .logo {
   font-size: 24px;
   font-weight: bold;
 }

 .hamburger {
   display: none;
 }

 @media (max-width: 768px) {
   ul {
     display: none;
   }

   .hamburger {
     display: block;
     cursor: pointer;
   }
 }


 /* Mobile menu */

 @media (max-width: 992px) {
   ul {
     display: none;
     flex-direction: column;
     position: absolute;
     top: 60px;
     left: 0;
     width: 100%;
     background-color: rgba(69, 131, 225, 0.5);
     padding: 10px 0;
   }

   ul li {
     padding: 10px 0;
     text-align: center;
     width: 100%;
     font-size: 18px;
   }
 }

 @media (max-width: 768px) {
   ul {
     display: none;
     flex-direction: column;
     position: absolute;
     top: 60px;
     left: 0;
     width: 100%;
     background-color: rgba(69, 131, 225, 0.5);
     padding: 10px 0;
   }

   ul li {
     padding: 10px 0;
     text-align: center;
     width: 100%;
   }
 } 